{% extends 'admin/master.html' %}
{% block body %}
<style>

.row {
	min-width: 1100px;
}

#users-list-wrapper {
}

#ports-list-wrapper {
/*	margin-left: 288px;*/
}

#controls  {
/*	margin-left: 788px;*/
	position: fixed;
}

.selected-list {
	max-height: 300px;
	overflow-y: scroll;
}

.batch-list > li {
	display: block;
	width: 190px 9;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #E5E5E5;
	color: #08C;
	background: white;
}

.batch-list > li:first-child {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.batch-list > li:last-child {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}

.batch-list > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

.batch-list > li > label {
	display: inline-block;
}

.batch-list > li > input {
	float: left;
	margin-right: 20px;
}

.batch-list > li > label {
	color: #08C;
	cursor: pointer;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top:1px;
}

.batch-list h3 {
	text-align: center;
}

#switch-select {
	width: 100%;
}

i {
	float: right;
	margin-top: 3px;
	cursor: pointer;
}

i:hover {
	background-color: rgba(255, 0, 0, .25);
	border-radius: 10px;
}

</style>
<h2> Batch Port Assignment </h2>
<hr>
<div class="row" style="margin-left: 0px; min-height: 500px;">
	<div id="users-list-wrapper" class="span3 well">
		<h3>Users</h3>
		<hr/>
		<ul id="user-list" class="nav batch-list">
			{% for i in users %}
				<li>
					<label for="user-{{i.id}}">{{i.username}}</label>
					<input data-user-id="{{i.id}}" type="checkbox" id="user-{{i.id}}" name="user-{{i.id}}">
				</li>
			{% endfor %}
		</ul>
	</div>

	<div id="ports-list-wrapper" class="span4">
		<ul id="ports-wrapper" class="nav well batch-list">
			<h3>Select a switch</h3>
			<hr/>
			<select id="switch-select">
				{% for i in switches %}
					<option switch-id="{{i.id}}">{{i.name}}</option>
				{% endfor %}
			</select>
			<h3>Ports</h3>
			<hr/>
			<ul id="ports-list" class="batch-list" style="margin-left: 0px">

			</ul>
		</ul>
	</div>
	<div id="controls" class="span3 well">
		<h3>Selected Ports</h3>
		<hr/>
		<ul id="form-ports-list" class="batch-list selected-list" style="margin-left: 0px" tabindex="1">
		</ul>
		<hr/>
		<form style="text-align: center; padding:10px;">
			<input id="add_ports" type="button" style="width: 200px" class="btn btn-primary btn-large" value="Add Ports">
			<input id="remove_ports" type="button" style="width: 200px" class="btn btn-danger btn-large" value="Remove Ports">
		</form>
	</div>
</div>

{% endblock %}
{% block tail %}
<script>

function populate_ports() {
	var switch_id = $("#switch-select option:selected");
	switch_id = $(switch_id).attr("switch-id");

	$.ajax({
		url:"{{url_for('vlan.getPortsController')}}",
		data: {"switch_id": switch_id},
		type: "POST",
		success: function(resp) {
			$list = $("#ports-list");
			$list.empty();

			var array = [];

			for(var i in resp.data) {
				array.push(resp.data[i]);
			}

			array.sort(function(a, b) {
				var x = parseInt(a.number);
				var y = parseInt(b.number);
				return x - y;
			})
			
			var count = 2;
			for(var i in array) {
				var id = array[i].id;
				var num = array[i].number;
				var name = array[i].name;
				$html = "<li class=\"port-li\" data-port-id=\""+id+"\" data-port-name=\""+name+"\" data-port-number=\""+num+"\">\
						<label for=\"port-"+id+"\">"+(num + ": " + name)+"</label>\
						<input tabindex=\""+count+"\" type=\"checkbox\" id=\"port-"+id+"\" name=\"port-"+id+"\">\
						</li>"
				$list.append($html);
				count++;
			}

			// clear out any old switch
			ports = [];
			$("#form-ports-list").empty();
			
		}
	})
}

$(document).ready(function(){

	var ports = [];

	var marginLeft = ($("#ports-list-wrapper").offset().left - $(".container").offset().left) + $("#ports-list-wrapper").outerWidth() + 20;
	$("#controls").css("margin-left", marginLeft);

	$(window).resize(function() {
		var marginLeft = ($("#ports-list-wrapper").offset().left - $(".container").offset().left) + $("#ports-list-wrapper").outerWidth() + 20;
		$("#controls").css("margin-left", marginLeft);
	})

	function is_in(arr, target, comparator) {
		for(var i = 0; i < arr.length; i++){
			if(comparator(arr[i], target))
				return true;
		}
	}

	populate_ports();
	$("#switch-select").change(function(e) {
		populate_ports();
	});

	$(document).on("click", ".port-li > input", function(e) {
		var $parent = $(this).parent();
		var $el = $("<li></li>");

		var id = $parent.data("portId");
		var number = $parent.data("portNumber")
		var name = $parent.data("portName");

		if(is_in(ports, id, function(a, b) {
			return a == b;
		})) {
			remove_port(id);
			return;
		}
		
		var html = "<label>" + number + ": " + name + "</label><i class='icon-remove'></i>";
		$el.append(html);

		$("#form-ports-list").append($el);

		$el.data("portId", id);
		$el.data("portName", name);
		$el.data("portNumber", number);

		ports.push(id);
	});

	$(document).on("click", ".icon-remove", function(e){
		$parent = $(this).parent();
		id = $parent.data("portId");
		remove_port(id);
	});

	function remove_port(id) {
		$ports = $("#form-ports-list > li").get();

		for(var i in $ports) {
			$el = $($ports[i]);
			if($el.data("portId") == id)
				$el.remove();
		}

		$("#port-"+id).attr("checked", false);

		for(var i = 0; i < ports.length; i++) {
			if(ports[i] == id)
				ports.splice(i, 1);
		}
	}

	$("#add_ports").on("click", function(e) {
		var users = [];

		var $users = $("#user-list input:checked").get();
		for(var i in $users) {
			var $el = $($users[i]);
			users.push($el.data("userId"));
		}

		if(users.length == 0) {
			alert("Please select one or more users.")
			return;
		}
		else if (ports.length == 0) {
			alert("Please select one or more ports.")
			return;
		}

		var success_bool = true;
		var counter = 0;
		var target = users.length * ports.length;

		for(var i in users) {
			for(var j in ports) {
				$.ajax({
					url:"{{url_for('vlan.addPortController')}}",
					data: {port: ports[j], user: users[i]},
					type: "POST",
					success: function(resp) {
						if(resp == "failure") {
							success_bool = false;
							alert("Adding port " + ports[j].name + " to " + users[i] + " failed.");
						}

						counter++;

						if(counter == target && success_bool) {
							alert("Ports successfully added.");
							$("#form-ports-list > li > .icon-remove").click();
						}
					}
				})
			}
		}
	});

	$("#remove_ports").on("click", function(e) {
		var users = [];

		var $users = $("#user-list input:checked").get();
		for(var i in $users) {
			var $el = $($users[i]);
			users.push($el.data("userId"));
		}

		if(users.length == 0) {
			alert("Please select one or more users.")
			return;
		}
		else if (ports.length == 0) {
			alert("Please select one or more ports.")
			return;
		}

		var success_bool = true;
		var counter = 0;
		var target = users.length * ports.length;
		for(var i in users) {
			for(var j in ports) {

				$.ajax({
					url:"{{url_for('vlan.removePortController')}}",
					data: {port: ports[j], user: users[i]},
					type: "POST",
					success: function(resp) {
						if(resp == "failure") {
							success_bool = false;
							alert("Removing port " + ports[j].name + " to " + users[i] + " failed.");
						}

						counter++;

						if(counter == target && success_bool) {
							alert("Ports successfully removed.");
							$("#form-ports-list > li > .icon-remove").click()
						}
					}
				})
			}
		}
	});


	$("#ports-list").on('click', '.port-li', function(){
		$(this).find('input').focus();
	});
});

</script>

{% endblock %}